
* {
	font-family: 'Playfair Display', serif;
}

h1 {
	color: green;
	text-transform: uppercase;
}

#header {
	border : 1px solid black;
	margin: 5px;
	text-align: center;
	width: 100%;
	background-color: white;
}

#header ul li {
	list-style: none;
	display: inline;
}

#header a {
	text-decoration: none;
}

#content {
	margin: 5px;
	padding-top: 2px;
}

#footer {
	border : 1px solid black;
	margin: 5px;
	width: 100%;
}
