<div class="css card">
			<h3 id="css"> CSS </h3> 
			<div class="card-body">
				<h4> Definicion </h4>
				<p> CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para
				definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.
				Es muy usado para establecer el diseño visual de los documentos web, e interfaces de usuario escritas en HTML o XHTML;
				el lenguaje puede ser aplicado a cualquier documento XML, incluyendo XHTML, SVG, XUL, RSS, etcétera.
				Te puede ayudar a crear tu propio sitio web. Junto con HTML y JavaScript, CSS es una tecnología usada por muchos sitios web para crear
				páginas visualmente atractivas, interfaces de usuario para aplicaciones web y GUIs para muchas aplicaciones móviles (como Firefox OS).

				CSS está diseñado principalmente para marcar la separación del contenido del documento y la forma de presentación de este,
				características tales como las capas o layouts, los colores y las fuentes.
				</p>

				<h4> Ventajas </h4>
				<p> CSS facilita la publicación de contenido en múltiples formatos de presentación basado en parámetros nominales. Estos incluyen preferencias
				explícitas del usuario, diferentes navegadores web, el tipo de dispositivo usado para ver el contenido (una PC o un teléfono
				inteligente), la localización geográfica u otras variables.

				<ul><li> Consistencia del sitio </li></ul>
				Cuando CSS es usado efectivamente, en términos de herencia y "cascading", una hoja de estilos global puede ser usado para aplicar
				estilos a todo un sitio. Si más adelante estos estilos deben de ser cambiados, los cambios pueden ser hechos solo con cambiar las
				reglas en la hoja de estilos global. Antes de CSS, esto era mucho más difícil, caro y más tardado.

				<ul><li> Ancho de banda </li></ul>
				Una hoja de estilos interna o externa, especifica el estilo para un conjunto de elementos HTML seleccionados por clase, tipo, o
				herencia. Esto es más eficiente que repetir información para cada ocurrencia del elemento. Una hoja de estilos externa usualmente es
				guardada en la caché del navegador, y puede ser usada en múltiples páginas sin ser cargada de nuevo, reduciendo la transferencia de
				datos a través de la red.

				<ul><li> Formateo de página </li></ul>
				Con un cambio simple en una sola línea, puede cambiarse la hoja de estilos para la misma página. Esto trae ventajas para la
				accesibilidad, además de que posibilita adaptar el sitio a diferentes dispositivos.
				</p>

				<h4> Herencia </h4>
				<p> La herencia es una característica clave en CSS; basada en la relación ancestro-descendiente para operar. La herencia es el mecanismo
				por el cual las propiedades no sólo se aplican a un solo elemento, sino también a sus descendientes. La herencia se basa en el árbol
				del documento, el cual es la jerarquía de los elementos XHTML en una página basada en el anidamiento.
				Los elementos descendientes pueden heredar los valores de las propiedades CSS de un elemento ancestro. En general, los elementos
				descendientes heredan las propiedades relacionadas al texto, pero las propiedades relacionadas con la caja no. Las propiedades que
				pueden ser heredadas son el color, fuente, espaciado, el peso de la línea, propiedades de lista, alineación del texto, identado,
				visibilidad, espaciado de espacios and y espaciado entre palabras. Las propiedades que no pueden ser heredadas son el fondo, bordes,
				visualización, posicionamiento, tamaño, márgenes, tamaño mínimo y máximo, outline, desbordamiento, relleno, posición, alineación
				vertical y z-index.

				La herencia previene que algunas propiedades sean declaradas una y otra vez en la hoja de estilos, permitiendo a los diseñadores
				escribir menos código CSS. Mejora la carga rápida de los sitios por los usuarios, y permite a los clientes ahorrar dinero en los costos
				de desarrollo y ancho de banda.
				</p>

				<h4> Selector </h4>
				<p> <ul> <li> Separación del contenido y la presentación </li> </ul>
				CSS facilita la publicación de contenido en múltiples formatos de presentación basado en parámetros nominales. Estos incluyen preferencias
				explícitas del usuario, diferentes navegadores web, el tipo de dispositivo usado para ver el contenido (una PC o un teléfono
				inteligente), la localización geográfica u otras variables.

				<ul> <li> Consistencia del sitio </li> </ul>
				Cuando CSS es usado efectivamente, en términos de herencia y "cascading", una hoja de estilos global puede ser usado para aplicar
				estilos a todo un sitio. Si más adelante estos estilos deben de ser cambiados, los cambios pueden ser hechos solo con cambiar las
				reglas en la hoja de estilos global. Antes de CSS, esto era mucho más difícil, caro y más tardado.

				<ul> <li> Ancho de banda </li> </ul>
				Una hoja de estilos interna o externa, especifica el estilo para un conjunto de elementos HTML seleccionados por clase, tipo, o
				herencia. Esto es más eficiente que repetir información para cada ocurrencia del elemento. Una hoja de estilos externa usualmente es
				guardada en la caché del navegador, y puede ser usada en múltiples páginas sin ser cargada de nuevo, reduciendo la transferencia de
				datos a través de la red.

				<ul> <li> Formateo de página </li> </ul> </ul>
				Con un cambio simple en una sola línea, puede cambiarse la hoja de estilos para la misma página. Esto trae ventajas para la
				accesibilidad, además de que posibilita adaptar el sitio a diferentes dispositivos.
				</p>
			</div>
		</div>