	<div class="js card">
				<h3 id="javascript"> Javascript </h3> 
					<div class="card-body">
					<p> Javascript ¿para qué?
						Algunos ejemplos:
						<ul>
							<li> Validar formularios (lo que no permita HTML5) </li> 
							<li> Reaccionar a lo que haga el usuario (click, teclear, etc) </li> 
							<li> Cambiar algo al pasar el mouse (si no lo permite CSS) </li> 
							<li> Partes de páginas que se muestran/ocultan </li> 
							<li> Hacer cálculos complejos </li> 
							<li> Carga dinámica de contenido (AJAX) </li> 
							<li> Hacer Single Page Applications (SPAs) </li> 
						</ul>
						Prueba alertas en JavaScript
						<button id="alerta" > Alerta </button>
					</p>
				</div>
			</div>		